<template>
  <FormBody
    :state="'add'">
  </FormBody>
</template>

<script>
import FormBody from './FormBody.vue'

export default {
  components: {
    FormBody
  },
  data () {
    return {
    }
  }
}
</script>
