<template>
  <div>
    <transition name="fade">
      <div class="lightbox" v-if="active">
        <div class="content">
          <div>
            姓名 <input type="label" v-model="currentData.name"></input>
          </div>
          <div>
            員編 <input type="label" v-model="currentData.id"></input>
          </div>
          <div>
            <button @click="close">取消</button>
            <button @click="submit">完成</button>
          </div>
        </div>
        <div class="bg" @click="close"></div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: ['active', 'data'],
  data () {
    return {
      currentData: {
        name: '',
        id: ''
      }
    }
  },
  methods: {
    close () {
      this.$emit('update:active', !this.active)
    },
    submit () {
      this.$emit('submit', this.currentData)
      this.close()
    }
  },
  watch: {
    active: {
      handler (d) {
        if (d === true) {
          this.currentData = JSON.parse(JSON.stringify(this.data)) 
        }
      },
      immediate: true,
      deep: true
    }
  }
}
</script>

<style lang="scss" scoped>

.lightbox{
  //@include fix_0(50);
  //@include flex;
  //@include flex_align(flex-start);
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  overflow: auto;
  .content{
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    padding: 30px 60px;
    // width: 530px;
    width: 87.5%;
    max-width: 900px;
    margin-bottom: 50px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 0 12px 0 rgba(84, 84, 84, 0.3);
  }
  .bg{
    //@include fix_0;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
