<template>
  <div>
    <div>
      姓名: {{teacher.name}}
    </div>
    <div>
      員編: {{teacher.id}}
    </div>
    <div>
      <button @click="openLightbox">編輯</button>
    </div>
    <EditUserLightbox
      :active.sync="isLightboxActive"
      :data="teacher"
      @submit="updateData">
    </EditUserLightbox>
  </div>
</template>

<script>
import EditUserLightbox from '@/components/EditUserLightbox.vue'

export default {
  components: { EditUserLightbox },
  data () {
    return {
      teacher: {
        name: '阿貓',
        id: 'T001'
      },
      isLightboxActive: false
    }
  },
  methods: {
    openLightbox () {
      this.isLightboxActive = true
    },
    updateData (d) {
      this.teacher = JSON.parse(JSON.stringify(d))
    }
  }
}
</script>
