<template>
  <div>
    <div>
      <button @click="openLightbox">Lightbox</button>
    </div>
    <AppLightbox2
      :active.sync="isLightboxActive"
      :data="teacher"
      @submit="updateData">
      <template #header>標題</template>
      <template #default="slotProps">{{slotProps.text}}</template>
      <template #footer>底部</template>
    </AppLightbox2>
  </div>
</template>

<script>
import AppLightbox2 from '@/components/AppLightbox2.vue'

export default {
  components: { AppLightbox2 },
  data () {
    return {
      teacher: {
        name: '阿貓',
        id: 'T001'
      },
      isLightboxActive: false
    }
  },
  methods: {
    openLightbox () {
      this.isLightboxActive = true
    },
    updateData (d) {
      this.teacher = JSON.parse(JSON.stringify(d))
    }
  }
}
</script>
